@media  screen and (min-width: 768px) {
    /* !HEADER */

    
    /* !MAIN */
    .row {
        flex-direction: row;
    }
    .col3 {
        width: calc(100% / 3 - 2rem / 3) ;
    }

    .features .col3:first-of-type {
        width: calc((((100% / 3) - (2rem / 3)) * 2) + (2rem / 2));
        text-align: left;
    }
 
    .right-col3 img {
        width: 50%;
    }
    /* !FOOTER */
}

@media  screen and (min-width: 992px) {
    /* !HEADER */
        .container {
        width: 80%;
    }
    .menu {
        display: flex;
    }
    #hamburger {
        display: none;
    }
    /* !MAIN */
    .features .col3:first-of-type {
        display: flex;
    }

    .right-col3 {
        align-self: flex-end;
    }

    .right-col3 img {
        width: 100%;
    }

    /* !FOOTER */
}

@media  screen and (min-width: 1200px) {
    /* !COMMON */

    /* !HEADER */

    
    /* !MAIN */

    /* !FOOTER */
}