@media  screen and (min-width: 768px) {
    /* !HEADER */

    
    /* !MAIN */
    main .row {
        flex-direction: row;
    }
    /* @features */
    .features .col {
        width: calc(100% / 3 - 2rem / 3) ;
    }

    .features .double {
        width: calc((((100% / 3) - (2rem / 3)) * 2) + (2rem / 2));
    }
 
    .right-double img {
        width: 50%;
    }

/* @testimonials */
    .quote {
        text-align: left;
    }
    .testimonials .row {
        align-items: center;
    }
    .testimonials .profile {
        width: calc(30% - 1rem);
    }

    .testimonials .quote {
        width: 70%;
    }

    /* @benefits */
    .benefits .col {
        width: calc(100% / 2 - 1rem / 2);
    }
    
    /* @about-us */
    .about-us .left {
        width: calc((((100% / 3) - (2rem / 3)) * 2) + (2rem / 2));
    }

    .about-us .right {
        width: calc(100% / 3 - 2rem / 3) ;
    }

    .call-to-action .long-btn {
transform: scale(1.5);
    }
    /* !FOOTER */
}

@media  screen and (min-width: 992px) {
    /* !COMMON */
    .container {
        width: 80%;
    }


    /* !HEADER */
        .navbar {
        width: 80%;
        margin: 0 auto;
    }

    .menu {
        display: flex;
    }

    #hamburger {
        display: none;
    }

    /* !MAIN */
    /* @features */
    .double {
        display: flex;
    }

    .right-double {
        align-self: flex-end;
    }

    .right-double img {
        width: 100%;
    }

    /* @planning */
    .planning .col {
        width: calc((100% / 2) - (1rem / 2));
    }

    .planning .right {
        align-self: flex-end;
    }

    .planning .reverse {
        width: 50%;
    }

    /* @benefits */
    .benefits .col {
        width: calc((100% / 3) - (2rem / 3));
    }
    /* !FOOTER */
}

@media  screen and (min-width: 1200px) {
    /* !COMMON */
    .container {
        max-width: var(--max-width);
    }
    
    /* !HEADER */
    .navbar {
        max-width: var(--max-width);

    }

    
    /* !MAIN */

    /* !FOOTER */
}