@media  screen and (min-width: 768px) {
    /* !HEADER */

    
    /* !MAIN */
    .row {
        flex-direction: row;
    }
    .col3 {
        width: calc(100% / 3 - 2rem / 3) ;
    }

    .features .double {
        width: calc((((100% / 3) - (2rem / 3)) * 2) + (2rem / 2));
    }
 
    .right-double img {
        width: 50%;
    }
    /* !FOOTER */
}

@media  screen and (min-width: 992px) {
    /* !COMMON */
    .container {
        width: 80%;
    }


    /* !HEADER */
        .navbar {
        width: 80%;
        margin: 0 auto;
    }
    .menu {
        display: flex;
    }
    #hamburger {
        display: none;
    }
    /* !MAIN */
    /* @features */
    .double {
        display: flex;
    }

    .right-double {
        align-self: flex-end;
    }

    .right-double img {
        width: 100%;
    }

    /* @planning */
    .col2 {
        width: calc((100% / 2) - (1rem / 2));
    }
    .planning .right {
        align-self: flex-end;
    }
    .planning .reverse {
        width: 60%;
        height: 60%;
    }
    /* !FOOTER */
}

@media  screen and (min-width: 1200px) {
    /* !COMMON */

    /* !HEADER */

    
    /* !MAIN */

    /* !FOOTER */
}