/* !RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* !COMMON */

:root {
    --clr-1: #9792E4;
    --clr-2: #B5DDFF;
    --clr-3: #0084FD;
    --clr-4: #333333;
    --clr-5: #FDC15F;
    --clr-6: #ffffff;
    --navbar: 4rem;
    --v-padding: 3rem 1rem;
}

body {
    font-family: 'PT Sans', sans-serif;
    /* margin: 0 auto; */
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
}

/* @ utilities */

.button {
    border-radius: 1em;
}

.white-btn {
    background-color: var(--clr-6);
    color: var(--clr-3);
    padding: .5em;
}

.blue-btn {
    display: inline-block;
    background-color: var(--clr-3);
    color: var(--clr-6);
    margin: 1rem 0;
    padding: .5em 3em;
}

.purple-btn {
    background-color: var(--clr-1);
    color: var(--clr-6);
    margin: 1rem 0;
    padding: .5em 3em;
}
/* @ grid */
.row {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.card {
    padding: 1rem;
    border-radius: 3rem;
    text-align: center;
}

.col3 {
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

/* @ font */
h1,
.title,
.subtitle {
    margin: 1em 0;
}


/* !HEADER */

.header {
    margin: 0 auto;
    padding: 0 1rem;
    background-color: var(--clr-3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: var(--clr-6);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar);
}

.menu {
    display: none;
}

.menu li {
    margin: 0 1rem;
}
/* !HEADER */


/* !MAIN */

main {
    padding-top: var(--navbar);
}

main section:nth-child(odd) {
    background-color: var(--clr-6);

}

main section:nth-child(even) {
    background-color: var(--clr-1);
}

main .container {
    padding: var(--v-padding);
}

/* @features */
.features .col3 {
    background-color: var(--clr-2);    
}

.features .subtitle {
    color: var(--clr-3);
}

.features i {
    color: var(--clr-3);
}

.double {
    padding-bottom: 0;
    text-align: left;
}

.right-double img {
    display: block;
}

/* @planning */
.planning{
    color: var(--clr-6);
}

.planning .reverse {
    background-color: var(--clr-6);
    color: var(--clr-4);
}
.reverse .text {
    font-style: italic;
}
.arrow {
    display: inline-block;
    position: relative;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: var(--clr-1);
    border-radius: 50%;
}

.arrow i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* !MAIN */


/* !FOOTER */

.footer {
    background-color: var(--clr-4);
}


/* !FOOTER */