/* !RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* !COMMON */

:root {
    --clr-1: #9792E4;
    --clr-2: #B5DDFF;
    --clr-3: #0084FD;
    --clr-4: #333333;
    --clr-5: #FDC15F;
    --clr-6: #ffffff;
    --navbar: 4rem;
    --v-padding: 3rem 1rem;
}

body {
    font-family: 'PT Sans', sans-serif;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
}


main .container ,
footer .container {
    padding: var(--v-padding);
}

.icon {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* @ utilities */

.button {
    border-radius: 1em;
}

.white-btn {
    background-color: var(--clr-6);
    color: var(--clr-3);
    padding: .5em;
}

.blue-btn {
    display: inline-block;
    background-color: var(--clr-3);
    color: var(--clr-6);
    margin: 1rem 0;
    padding: .5em 3em;
}

.purple-btn {
    display: inline-block;
    background-color: var(--clr-1);
    color: var(--clr-6);
    margin: 1rem 0;
    padding: .5em 3em;
}
/* @ grid */
.row {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}
.card,
.col {
    padding: 1rem;
}

.card {
    border-radius: 3rem;
}

.col {
    border-radius: 1rem;
}

/* @ font */
h1,
.primary-title,
.title,
.subtitle,
.name {
    margin: 1em 0;
}
.name {
    font-size: 1.5rem;
}

.features .col:not(:first-of-type) ,
.planning .reverse ,
.testimonials ,
.primary-title,
.call-to-action,
.footer {
    text-align: center;
}
/* !HEADER */

.header {
    margin: 0 auto;
    padding: 0 1rem;
    background-color: var(--clr-3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: var(--clr-6);
    z-index: 999;
}
/* @navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar);
}

.menu {
    display: none;
}

.menu li {
    margin: 0 1rem;
}
/* !HEADER */


/* !MAIN */

main {
    padding-top: var(--navbar);
}

main section:nth-child(odd) ,
.benefits .col {
    background-color: var(--clr-6);

}

main section:nth-child(odd) .primary-title ,
.benefits .col ,
.profile , 
.big-title ,
.about-us .title {
    color: var(--clr-1);

}

main section:nth-child(even) ,
.testimonials .container .card {
    background-color: var(--clr-1);
}

main section:nth-child(even) .primary-title ,
.testimonials .container .card ,
.call-to-action .container {
    color: var(--clr-6);

}

/* @features */
.features .col {
    background-color: var(--clr-2);    
}

.features .subtitle ,
.features i {
    color: var(--clr-3);
}

.double {
    padding-bottom: 0;
}

.right-double img {
    display: block;
}

/* @planning */
.planning{
    color: var(--clr-6);
}

.planning .reverse {
    background-color: var(--clr-6);
    color: var(--clr-4);
}
.reverse .text {
    font-style: italic;
}
.arrow {
    display: inline-block;
    position: relative;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: var(--clr-1);
    border-radius: 50%;
}

.arrow i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* @testimonials */
.testimonials .card {
    margin: 2rem auto;
}

.profile img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;

}

/* @benefits */
.number {
    font-size: 2.5rem;
}

.benefits-text {
    color: var(--clr-4);
}
/* @about us */
.about-us .profile {
    position: relative;
    text-align: center;
}

.about-us .profile > i {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(100px);
}
.big-title {
    font-size: 3rem;
}
.about-us .text {
    margin: 3rem 0;
}

/* @call to action */
.attention {
    font-size: 3rem;
    color: var(--clr-5);
}

.dot {
    font-size: .2rem;

}

.circle::before {
    font: var(--fa-font-solid);
    content: "\f111";
    font-family: "Font Awesome 6 free"; 
    font-size: .3rem;
    position: relative;
    bottom: 3px;
}
/* !MAIN */


/* !FOOTER */
.footer {
    background-color: var(--clr-4);
    color: var(--clr-6);

}

.footer a{
    text-decoration: underline;
    color: var(--clr-1);
}
/* !FOOTER */